html,
body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
}

#page-wrapper {
	max-width: 80%;
	margin: 0 auto;
}

.text-wrapper p {
	max-width: 450px;
	margin: 0 auto;
}
.text-wrapper img {
	max-height: 500px;
}
.text-wrapper p ~ img {
    margin: 0 15px 15px 0;
    float: left;
}
.text-wrapper p + img {
	margin: 0 0 15px 15px;
    float: right;
}